<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fast.backend.storage.mapper.CargoMapper">
    <resultMap id="result" type="com.fast.backend.storage.domain.Cargo">
        <id property="cargoId" column="cargo_id"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>
    <insert id="insert" parameterType="com.fast.backend.storage.domain.Cargo"
            useGeneratedKeys="true" keyProperty="cargoId" keyColumn="cargo_id">
        INSERT INTO cargo (created_at) VALUES (#{createdAt})
    </insert>
    <select id="findByCargoId" resultMap="result">
        SELECT cargo_id, created_at FROM cargo WHERE cargo_id = #{cargoId}
    </select>
    <select id="existsByCargoId" resultType="boolean">
        SELECT COUNT(*) > 0 FROM cargo WHERE cargo_id = #{cargoId}
    </select>
</mapper>
